body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    background: #f4f4f4;
    color: #333333;
}

header {
    background: #111111;
    color: white;
    padding: 20px;
    position: sticky;
    top: 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #00aaff;
}

section {
    background: #ffffff;
    margin: 20px auto;
    padding: 20px;
    width: 85%;
    max-width: 900px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    background: #dddddd;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #cccccc;
    text-align: center;
}

.gallery {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    border: 1px solid #cccccc;
}

details {
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 6px;
    background: #fafafa;
}

details summary {
    cursor: pointer;
    font-weight: bold;
}

#topButton:hover {
    background: #00aaff;
}